$rootSize: 16;

// @function torem($px) {
//     @return #{$px / $rootSize}rem;
// }

$landing-image__height: torem(600);
$color__landing-background--dark: #10162D;
$color__header-background--dark: #000000c7; // DEBUG value

// $color__landing-text--dark: #9e9e9e;
$color__landing-text--light: #ffffff;

$header-height: 60;
$header-height-px: 60 * 1px;

$font-family--monospace: monospace;
