@import "variables";

.main {
  &__container {
    background-color: $color__landing-background--dark;
  }
}

.landing {
  &__container {
    .menu-container {
      position: fixed;
      right: 0;
    }
  }
}