@import "variables";

.main {
  &__container {
    background-color: $color__landing-background--dark;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: $header-height-px;
  align-items: center;
  padding: 0 $main__horizontal-padding;
}

.landing {
  &__container {
    padding: 0 $main__horizontal-padding;
  }
}
